* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#title {
    font-size: 75px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 500;
    margin-bottom: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 152, 233);
    flex-direction: column;
}

.container {
    display: flex;
    width: 800px;
    height: 1200px;
    background-color: rgb(175, 175, 175);
    border: 6px solid black;
    border-radius: 40px;
    flex-direction: column;
}

.screen {
    background-color: rgb(255, 255, 255);
    border: 6px solid black;
    border-radius: 40px;
}

.screen {
    height: 200px;
    margin: 40px;
    display: flex;
    align-items: center;
}

.output {
    font-size: 100px;
    text-align: end;
    flex: 1;
    margin-right: 30px;
}

.buttons {
    margin: 40px;
    flex: 1;
}

.buttonContainer {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 60px;
}

.butt {
    min-width: 150px;
    min-height: 150px;
    font-size: 50px;
    background-color: white;
    border: 6px solid black;
    border-radius: 20px;
}

.butt:hover {
    background-color: rgb(190, 190, 190);
}

p {
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}